body {
    background-color: #111;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.App-header {
    height: 20px;
    padding: 10px;
    color: white;
}

.board-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

